.apple {
    // margin: var(--spacing-small);
    // border: var(--width-separator-thin) solid var(--color-separator);
    background-color: var(--color-background-alt);
    height: var(--height-content);

    .message {
        display: flex;
        flex-direction: column;

        .icon {
            font-size: var(--width-icon-extra-large);
        }
    }
}
