.loading {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .spinner {
        margin: var(--spacing-small);
    }

    .text {
        padding: var(-spacing-small);
        text-align: center;
    }
}
