.menu-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-bottom: var(--width-separator-medium) solid transparent;
    background-color: var(--color-foreground);
    cursor: pointer;
    padding: var(--spacing-medium) var(--spacing-small);
    text-decoration: none;
    color: var(--color-text-label);

    .menu-title {
        text-align: center;
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);
    }

    &:hover {
        color: var(--color-text);
    }

    &.active {
        border-bottom-color: var(--color-accent);
        color: var(--color-accent);
    }

    &.disabled {
        color: var(--color-text-disabled);
    }
}
